.full-bg {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/906150/pexels-photo-906150.jpeg"); /* optional */
  background-size: cover;
  background-position: center;

  /* CENTER CONTENT */
  display: flex;
  justify-content: center;
  align-items: center;
}
